streamlit==1.29.0
yt-dlp==2023.11.16
redis==5.0.1
celery==5.3.4
flower==2.0.1
pymongo==4.5.0
gunicorn==21.2.0
eventlet==0.33.3
requests==2.31.0
validators==0.20.0
python-multipart==0.0.6
streamlit-autorefresh==0.1.3